<%= form_with url: flights_path, method: :get, local: true, class: "flight-search-form" do %>
  <div id="booking" class="section">
    <div class="section-center">
      <div class="container">
        <div class="row">
          <div class="col-md-4">
            <div class="booking-cta">
              <h1>Book your flight today</h1>
            </div>
          </div>
          <div class="col-md-7 col-md-offset-1">
            <div class="booking-form">
                <div class="row">
                  <div class="col-md-6">
                    <div class="form-group">
                      <span class="form-label">Flying from</span>
                      <%# <input class="form-control" type="text" placeholder="City or airport"> %>
                      <%= select_tag :departure_airport_id, options_from_collection_for_select(@airports, :id, :location, params[:departure_airport_id]), class: "form-control" %>
                    </div>
                  </div>
                  <div class="col-md-6">
                    <div class="form-group">
                      <span class="form-label">Flyning to</span>
                      <%# <input class="form-control" type="text" placeholder="City or airport"> %>
                      <%= select_tag :destination, options_for_select(@destination, params[:destination]), class: "form-control" %>
                    </div>
                  </div>
                </div>
                <div class="row">
                  <div class="col-md-6">
                    <div class="form-group">
                      <span class="form-label">Departing</span>
                      <%# <input class="form-control" type="date" required> %>
                      <%= select_tag :departure_date, options_for_select(@dates.map(&:to_s), params[:departure_date]), class: "form-control" %>
                    </div>
                  </div>
                  <div class="col-md-6">
                    <div class="form-group">
                      <span class="form-label">Max price</span>
                      <%# <input class="form-control" type="number" placeholder="$0.00"> %>
                      <%= number_field_tag :max_price, params[:max_price], class: "form-control", placeholder: "$0.00" %>
                    </div>
                  </div>
                </div>
                <div class="form-btn">
                  <%# <button class="submit-btn">Show flights</button> %>
                  <%= submit_tag "Search Flights", class: "submit-btn" %>
                </div>
            </div>
          </div>
        </div>
      </div>
    </div>
</div>
<% end %>

<% if @flights.any? %>
  <div class="flight-results">
    <h2 class="results-title">Available Flights</h2>
    
    <div class="flight-cards">
      <% @flights.each do |flight| %>
        <%= link_to flight_path(flight) do %>
          <div class="flight-card">
            <div class="flight-header">
              <h3 class="flight-destination"><%= flight.destination %></h3>
              <div class="flight-price">$<%= flight.price %></div>
            </div>
            
            <div class="flight-details">
              <div class="detail-item">
                <span class="detail-label">Departure:</span>
                <span class="detail-value"><%= flight.departure_date.strftime("%b %d, %Y") %></span>
              </div>
              
              <div class="detail-item">
                <span class="detail-label">From:</span>
                <span class="detail-value"><%= flight.departure_airport.location %></span>
              </div>
              
              <div class="detail-item">
                <span class="detail-label">To:</span>
                <span class="detail-value"><%= flight.arrival_airport.location %></span>
              </div>
            </div>
            
            <button class="btn btn-book">Book Now</button>
          </div>
        <% end %>
      <% end %>
    </div>
  </div>
<% end %>