<%= form_with model: @booking do |form|%>
<%= form.hidden_field :flight_id, value: params[:flight_id] %>
  <div id="booking" class="section">
    <div class="section-center">
      <div class="container">
        <div class="row">
          <div class="col-md-4">
            <div class="booking-cta">
              <h1>Fill Information To Book</h1>
            </div>
          </div>
          <div class="col-md-7 col-md-offset-1">
            <div class="booking-form">
                <div class="row">
                  <div class="col-md-6">
                    <div class="form-group">
                      <span class="form-label">Name</span>
                      <%# <input class="form-control" type="text" placeholder="City or airport"> %>
                        <%= form.text_field :passenger_name,value: params[:passenger_name], class: "form-control", placeholder: "Name" %>
                    </div>
                  </div>
                  <div class="col-md-6">
                    <div class="form-group">
                      <span class="form-label">phone number</span>
                      <%# <input class="form-control" type="text" placeholder="City or airport"> %>
                        <%= form.text_field :passenger_phone,value: params[:passenger_phone], class: "form-control", placeholder: "Phone number" %>
                    </div>
                  </div>
                </div>
                <div class="row">
                  <div class="col-md-6">
                    <div class="form-group">
                      <span class="form-label">Address</span>
                      <%# <input class="form-control" type="date" required> %>
                        <%= form.text_field :passenger_address,value: params[:passenger_address], class: "form-control", placeholder: "Address" %>
                    </div>
                  </div>
                </div>
                <div class="form-btn">
                  <%# <button class="submit-btn">Show flights</button> %>
                  <%= form.submit "Book Flight", class: "submit-btn" %>
                </div>
            </div>
          </div>
        </div>
      </div>
    </div>
</div>
<% end %>