<%= form_with model: @booking do |form|%>
<%= form.hidden_field :flight_id, value: params[:flight_id] %>
  <div id="booking" class="section">
    <div class="section-center">
      <div class="container">
        <div class="row">
          <div class="col-md-4">
            <div class="booking-cta">
              <h1>Fill Information To Book</h1>
            </div>
          </div>
          <div class="col-md-7 col-md-offset-1">
            <div class="booking-form">
                <div class="row">
                  <div class="col-md-6">
                    <div class="form-group">
                      <span class="form-label">Name</span>
                      <%# <input class="form-control" type="text" placeholder="City or airport"> %>
                        <%= form.text_field :passenger_name,value: params[:passenger_name], class: "form-control", placeholder: "Name" %>
                    </div>
                  </div>
                  <div class="col-md-6">
                    <div class="form-group">
                      <span class="form-label">phone number</span>
                      <%# <input class="form-control" type="text" placeholder="City or airport"> %>
                        <%= form.text_field :passenger_phone,value: params[:passenger_phone], class: "form-control", placeholder: "Phone number" %>
                    </div>
                  </div>
                </div>
                <div class="row">
                  <div class="col-md-6">
                    <div class="form-group">
                      <span class="form-label">Address</span>
                      <%# <input class="form-control" type="date" required> %>
                        <%= form.text_field :passenger_address,value: params[:passenger_address], class: "form-control", placeholder: "Address" %>
                    </div>
                  </div>
                  <div class="col-md-6">
                    <div class="form-group">
                      <span class="form-label">Zip code</span>
                      <%# <input class="form-control" type="number" placeholder="$0.00"> %>
                        <%= form.text_field :zip_code,value: params[:zip_code], class: "form-control", placeholder: "Zip code" %>
                    </div>
                  </div>
                </div>
                 <div class="row">
                  <div class="col-md-4">
                    <div class="form-group">
                      <span class="form-label">Adults (18+)</span>
                      <%# <select class="form-control">
                        <option>1</option>
                        <option>2</option>
                        <option>3</option>
                      </select> %>
                      <%= form.select :Nadults, options_for_select([1, 2, 3], params[:Nadults]), {} ,class: "form-control" %>
                      <span class="select-arrow"></span>
                    </div>
                  </div>
                  <div class="col-md-4">
                    <div class="form-group">
                      <span class="form-label">Children (0-17)</span>
                      <%# <select class="form-control"> %>
                        <%# <option>0</option>
                        <option>1</option>
                        <option>2</option>
                      </select> %>
                        <%= form.select :Nkids, options_for_select([0, 1, 2], params[:Nkids]),{}, class: "form-control" %>
                      <span class="select-arrow"></span>
                    </div>
                  </div>
                  <div class="col-md-4">
                    <div class="form-group">
                      <span class="form-label">Travel class</span>
                      <%# <select class="form-control">
                        <option>Economy class</option>
                        <option>Business class</option>
                        <option>First class</option>
                      </select> %>
                        <%= form.select :travel_class, options_for_select(["Economy class","Business class","First class"], params[:travel_class]), {} ,class: "form-control" %>
                      <span class="select-arrow"></span>
                    </div>
                  </div>
                </div>
                <div class="form-btn">
                  <%# <button class="submit-btn">Show flights</button> %>
                  <%= form.submit "Book Flight", class: "submit-btn" %>
                </div>
            </div>
          </div>
        </div>
      </div>
    </div>
</div>
<% end %>